body {
    height: 50%;
}

.search-form{
    padding-top: 50px;
    background-color: rgb(107, 107, 107);
    color: white;
    text-align: center;
}

.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
  }

.boxx {
    background-color: turquoise;
    padding: 30px;
    
}

.box {
    float: left;
    height: 100%;
    padding: 20px;
}
.btn {
    padding: 5px;
    padding-right: 20px;
}

.panel {
    float: right;
    width: 50%;
    padding: 20px;
}

#para{
    float: right;
    background-color: rgb(37, 37, 37);
    color: white;
}

#par{
background-color: black;
}
#par:hover {
    background-color: white;
    color: black;
}

#para:hover {
    background-color: white;
    color: black;
}

#fol,
#foll,
#gis
 {
    padding: 5px;
    padding-left: 10px;
}

#rep {
    padding-top: 7px;
    padding-left: 35px;
    
}