body{
    height: 50%;
    background-image: url("src/assets/background-blur-clean-clear-531880.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.search-form{
    padding-top: 50px;
   margin-right: 50px;
   margin-left: 50px;
    background-color: rgb(252, 165, 53);
    color: white;
    text-align: center;
    border-radius: 15px;
}

.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
  }

.boxx {
    padding-bottom: 350px;
    
}

.box {
    float: left;
    height: 100%;
    padding: 20px;
}
.btn {
    padding: 5px;
    padding-right: 20px;
}

.panel {
    float: right;
    width: 50%;
    padding: 20px;
    padding-top: 50px;
    font-weight: bolder;
}
.panel h1{
    background-color: rgb(252, 165, 53);
    color: white;
}

#para{
    float: right;
    background-color:rgb(252, 165, 53);
    color: white;

}


#par:hover {
    background-color: white;
    color: black;
}

#para:hover {
    background-color: white;
    color: black;
}

#fol,
#foll,
#gis
 {
    padding: 5px;
    padding-left: 10px;
}

#rep {
    padding-top: 7px;
    padding-left: 35px;
    
}
.clearfix{
    border-color: maroon;
}